{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}
<!-- 上面是主题自带的,只展示一部分,其余省略 -->
<!-- ---这是我们添加进去的--------- -->
<!-- 首页欢迎字幅板块 -->
<!-- <div class="welcome">
  <p style="font-size: 2rem; text-align: center; font-weight: bold">
    <span class="shake">👋</span>
    <span class="jump-text1"> Welcome</span>
    <span class="jump-text2"> To </span>
    <span class="jump-text3" style="color:#e99312">浅</span>
    <span class="jump-text4" style="color:#e99312">忆</span>
    <span class="jump-text5" style="color:#e99312">·</span>
    <span class="jump-text6" style="color:#e99312">Blog</span>
  </p>
</div> -->
<div class="welcome">
  <p style="font-size:2rem;text-align:center;font-weight:700;">
    <span class="shake"></span>
    <span class="jump-text1">欢迎</span>
    <span class="jump-text2">来到</span>
    <span class="jump-text3"
      style="background: linear-gradient(to right, #e99312 0%, #ff8000 50%, #e99312 100%);">浅</span>
    <span class="jump-text4"
      style="background: linear-gradient(to right, #e99312 0%, #ff8000 50%, #e99312 100%);">忆</span>
    <span class="jump-text5"
      style="background: linear-gradient(to right, #e99312 0%, #ff8000 50%, #e99312 100%);">·</span>
    <span class="jump-text6"
      style="background: linear-gradient(to right, #e99312 0%, #ff8000 50%, #e99312 100%);">博客</span>
  </p>
</div>


<section class="article-list">
  {{ range $index, $element := $pag.Pages }}
  {{ partial "article-list/default" . }}
  {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}